*{
    margin: 0;
    padding: 0;
}
html:focus-within{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 11px; 
}
::-webkit-scrollbar-track{
    background:rgb(216, 213, 213);
}
::-webkit-scrollbar-thumb{
    background: #505252;
    border-radius: 50px;
}
*::after,::before{
    box-sizing: border-box;
}
.header{
    height: 37vh;
    width: 100%;
    position: relative;
}
.logo{
    width: 90%;
    margin-top: 30px;
}
.logo img{
    padding: 2% 5%;
    
}
.textbox{
    width: 90%;
    position: absolute;
    justify-content: space-between;
    padding: 0 4%;
}
.textbox h1{
    font-size: 50px;
    color: rgb(29, 21, 69);
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.slide{
    width: 100%;
    margin: auto;
 
}
.row{
    margin: auto;
    display: flex;
    
}
.column{
    width: 50%;
    flex-basis: 50%;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 10px 60px 15px;
    gap: 20px;
  
}
.column img{
    border-radius: 13px;
    width: 100%;
    height: 370px;
    display: block;
}

.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.layer h3{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 600;
    bottom: 10%;
    transform: translate(-50%);
    left: 41%;
    position: absolute;
}

.categories{
    width: 100%;
    justify-content: space-between;
}
.categories h1{
    padding-left: 60px;
}
h1{
    color: black;
    font-size: 35px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.row1{
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 15px;
    height: 100px;
}
.col-cat{
    flex-basis: 40%;
    background: #00a89b;
    border-radius: 20px;
    margin-top:-50px;
    padding: 10px 12px;
    height: 190px;
    width: 100%;
    display: block;
    position: relative;
    padding-left: 60px;
    transition: 0.2s;
}
.layer h4{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    top: 10%;
    position: absolute;
    left: 30px;
}
.layer img{
    position: absolute;
    transform: translate(50%,50%);
    left: 35%;
    bottom: 45%;
    height: 170px;
    overflow: hidden;
}
.col-cat:hover{
  transform: scale(1.03);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.power{
    width: 95%;
    justify-content: space-between;
    margin-top: 5%;
}
.power h1{
    padding-left: 60px;
}
.row2{
    width: 100%;
    margin: 5%;
    display:flex;
    height: 50px;
    gap: 15px;
}
.col-pow{
  width: 260px;
  height: 140px;
  box-shadow: 0px 0px 2.5px 0px rgb(110, 108, 108);
  border-radius: 30px;
  margin-top: -50px;
  position: relative;
}
.Scholarship{
    width: 90%;
    justify-content: space-between;
    margin-top: 7%;
}
.Scholarship h1{
    padding-left: 85px;
}
.contwrap{
    margin-left: 6%;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 1%);
    max-width: 730px;
    border-radius: 9px;
    height: 520px;
    width: 100%;
    display:flexbox;
    flex-direction: column;
    background-color: rgba(212 212 212 / 0.1);
    
}
.cont{
    margin: 20px;
    width: 320px;
    height:450px ;
    margin-top: 50px;
    background-color: #fff;
    position: absolute;
    border-radius: 9px;
}
.cont-wrt h5{
    padding-left: 20px;
    padding-top: 45px;
    font-weight: 700;
}
.contents{
    margin-top: -20px;
    align-items: center;
    margin-left: 5px;
}
.contents h6{
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(121, 123, 125);
}
.aesc-btn{
    text-align: center;
}
.aesc-btn button{
    width: 90%;
    border-radius: 9px;
    border: 0px;
    height: 36px;
    color: #fff;
    background-color: #1f80ff;
    font-weight: 500;
    padding-top: 0px;
    font-size: 12px;
    transition: 0.2s;
}
.aesc-btn button:hover{
    background-color: #1160c9;
    
}
.award{
    width: 90%;
    margin-top: 2.5%;
}
.award h1{
    padding-left: 85px;
}
.intern{
    width: 90%;
    margin-top: 2.5%;
}
.intern h1{
    padding-left: 85px;
    margin-top: 20px;
}
.fellow{
    width: 90%;
    margin-top: 1%;
}
.fellow h1{
    padding-left: 85px;
}
@media(max-width:700px) {
    .textbox h1{
        font-size:30px;
    }
    .column{
        flex-direction: column;
    }
}